doctype html
html
  head
    title= title
    link(rel="stylesheet", href="/css/style.css")
  body
  div(class='container')
    h1= title
    a(href="/update-cobj") Add to this table

    table
      thead
        tr
          th Name
          th Brand
          th Color
      tbody
        each item in data
          tr
            td= item.properties.name
            td= item.properties.brand
            td= item.properties.color